<body>
<div class="container">
<h4> Post: </h4>
<hr>
<table  class="table" style="width:70%;table-layout:auto; font-size: 1.1em;">
      
      <tbody> 
        
   
	<tr>
		<td><b>Title</b> </td>
	    <td> <%= @post.title %></td>
	</tr>

   <tr>
		<td><b>Body</b> </td>
		<td> <%= @post.body %> </td>
   </tr>
   <tr>
  	 	<td><b>Tag </b></td>
   		<td> <%= @post.tag%></td> 
   </tr>

      </tbody>

    </table>
  </div>
</body>